@model IEnumerable<FemsaEP.Models.planilhas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/assets/vendor/jquery/jquery.js")"></script>

<script>
    $(function () {
        // your code goes here

        $(".btadicionarplanilha").click(function () {

            $("#modaladicionarplanilha").load($(this).attr('href'));

            $("#modaladicionarplanilhalink").trigger("click");

            return false;

        });

        $(".bteditarplanilha").click(function () {

            $("#modaleditarplanilha").load($(this).attr('href'));

            $("#modaleditarplanilhalink").trigger("click");

            return false;

        });

        $(".btdeletarplanilhalink").click(function () {

            $("#modaldeletarplanilha").load($(this).attr('href'));

            $("#modaldeletarlink").trigger("click");

            return false;

        });


        $("#btdeletarplanilha").click(function () {

            $("#formdeletarplanilha").submit();

        });

    });

</script>

<header class="page-header">
    <h2>Planilhas</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="home.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Planilhas</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>
<!-- start: page -->

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">

                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="@Url.Content("~/Planilhas/Create")" class="btadicionarplanilha panel-action"><i class="fa fa-plus"></i></a>
                    <a href="#modalAnim" id="modaladicionarplanilhalink" class="panel-action fa fa-plus modal-with-zoom-anim" style="display:none;"><i class="fa fa-plus"></i></a>

                </div>

                <h2 class="panel-title">Planilhas</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th width="10%">Código</th>
                                <th width="40%">Título</th>
                                <th width="40%">Upload</th>
                                <th width="10%">Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.titulo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.url_upload)</td>
                                    <td class="actions">

                                        <a href="@Url.Content("~/Planilhas/edit/"+item.id)" class="bteditarplanilha panel-action"><i class="fa fa-pencil"></i></a>

                                        <a href="#modalAdd" id="modaleditarplanilhalink" class="panel-action modal-with-zoom-anim" style="display:none;"><i class="fa fa-pencil"></i></a>

                                        <a href="@Url.Content("~/Planilhas/delete/"+item.id)" class="btdeletarplanilhalink "><i class="fa fa-trash-o"></i></a>

                                        <a href="#modalRemover" id="modaldeletarlink" class="delete-row modal-with-zoom-anim" style="display:none;"><i class="fa fa-trash-o"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal atualizar -->
<div id="modalAdd" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Atualizar</h2>
        </header>
        <div class="panel-body" id="modaleditarplanilha">
            <!-- conteudo aqui -->
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-atualizar" id="bteditarplanilha">Atualizar</button>
                    <button class="btn btn-default modal-dismiss">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<!-- Modal Adicionar -->
<div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Adicionar</h2>
        </header>
        <div class="panel-body" id="modaladicionarplanilha">
            <div class="modal-wrapper">
                <!-- conteudo aqui -->
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm" id=btadicionarplanilha>Adicionar</button>
                    <button class="btn btn-default modal-dismiss">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<!-- Modal Remover -->
<div id="modalRemover" class="zoom-anim-dialog modal-block modal-block-danger mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Deletar</h2>
        </header>
        <div class="panel-body" id="modaldeletarplanilha">
            <!-- conteudo aqui -->
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-danger modal-delete" id="btdeletarplanilha">Confirmar</button>
                    <button class="btn btn-default modal-dismiss">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>