@model FemsaEP.Models.cluster_SAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAjax.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formeditarcluster" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <script>
        $(function () {
            // your code goes here
            $("#bteditarcluster").click(function () {
                codigo = $("#ZCODCLUST").val()
                if (codigo == "") {
                    alert("É necessário preencher os campos abaixo");
                    return false;
                }
                else {
                    $("#formeditarcluster").submit();
                }

            });
        });
    </script>

    @Html.HiddenFor(model => model.ZCODCLUST)
    @Html.HiddenFor(model => model.MANDT)

    <div class="form-group">
        @Html.LabelFor(model => model.ZNOMBRE, "Nome", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZNOMBRE, new { @class = "form-control", placeholder = "Nome", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.ZNOMBRE)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.ZCANAL, "Canal", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("canalsp", String.Empty)
            @Html.ValidationMessageFor(model => model.ZCANAL)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZGPOCANAL, "Grupo Canal", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZGPOCANAL, new { @class = "form-control", placeholder = "Grupo Canal", MaxLength = "2" })
            @Html.ValidationMessageFor(model => model.ZGPOCANAL)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.sigla, "Sigla", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.sigla, new { @class = "form-control", placeholder = "Sigla", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.sigla)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZNSE, "NSE", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("ZNSE", String.Empty)
            @Html.ValidationMessageFor(model => model.ZNSE)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZGEC, "GEC", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.RadioButtonFor(model => model.ZGEC, "51", new { @Id = "ouro" })
            <label for="ouro">Ouro</label>
            @Html.RadioButtonFor(model => model.ZGEC, "52", new { @Id = "prata" })
            <label for="prata">Prata</label>
            @Html.ValidationMessageFor(model => model.ZGEC)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.foco, "Foco", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("foco", String.Empty)
            @Html.ValidationMessageFor(model => model.foco)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descricao, "Descrição", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", placeholder = "Descrição", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
    </div>
}