@model FemsaEP.Models.tipo_de_manutencao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAjax.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formadicionartipo_de_manutencao" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <script>

        jQuery(function ($) {
            $('#codigo').mask('00000000');
        });

    </script>

    <script>
        $(function () {
            // your code goes here
            $("#btadicionartipo_de_manutencao").click(function () {
                codigo = $("#codigo").val()
                descricao = $("#descricao").val()
                if (codigo == "" && descricao == "") {
                    alert("É necessário preencher os campos abaixo");
                    return false;
                }
                else {
                    $("#formadicionartipo_de_manutencao").submit();
                }

            });
        });
    </script>

    <div class="form-group">
        @Html.LabelFor(model => model.codigo, "Código", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", placeholder = "Código" })
            @Html.ValidationMessageFor(model => model.codigo)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descricao, "Descrição", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", placeholder = "Descrição" })
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
    </div>

}