@model FemsaEP.Models.embalagem_SAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>embalagem_SAP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MANDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZNOMEMBAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZNOMEMBAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZDESACTIVADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZDESACTIVADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZCODEMBAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
