@model FemsaEP.Models.zat_SAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAjax.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formeditarzat" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    
    <script>
        $(function () {
            // your code goes here
            $("#bteditarzat").click(function () {
                ZCODZATS = $("#ZCODZATS").val()
                if (ZCODZATS == "") {
                    alert("É necessário preencher os campos abaixo");
                    return false;
                }
                else {
                    $("#formeditarzat").submit();
                }
            });
        });
    </script>
    
    @Html.HiddenFor(model => model.ZCODZATS)
    @Html.HiddenFor(model => model.MANDT)

    <div class="form-group">
        @Html.LabelFor(model => model.ZNOMBRE, "Nome", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZNOMBRE, new { @class = "form-control", placeholder = "Nome", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.ZNOMBRE)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ZCIUDAD, "Cidade", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZCIUDAD, new { @class = "form-control", placeholder = "Cidade", MaxLength = "30" })
            @Html.ValidationMessageFor(model => model.ZCIUDAD)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.regiao, "Região", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.regiao, new { @class = "form-control", placeholder = "Região", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.regiao)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ZUF, "UF", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            <select id="ZUF" name="ZUF">
                <option value=""></option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AM">AM</option>
                <option value="AP">AP</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MG">MG</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="PR">PR</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="RS">RS</option>
                <option value="SC">SC</option>
                <option value="SE">SE</option>
                <option value="SP">SP</option>
                <option value="TO">TO</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ZANO, "Ano", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZANO, new { @class = "form-control", placeholder = "Ano", MaxLength = "4" })
            @Html.ValidationMessageFor(model => model.ZANO)
        </div>
    </div>
            
    <div class="form-group">
        @Html.LabelFor(model => model.ZTERRITOR, "Território", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("ZTERRITOR", String.Empty)
            @Html.ValidationMessageFor(model => model.ZTERRITOR)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZUNIDAD, "Unidade", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.DropDownList("ZUNIDAD", String.Empty)
            @Html.ValidationMessageFor(model => model.ZUNIDAD)
        </div>
    </div>
            
    <div class="form-group">
        @Html.LabelFor(model => model.descricao, "Descrição", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", placeholder = "Descrição", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
    </div>

}

