@model FemsaEP.Models.grupo_SAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAjax.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formeditargrupo_de_usuario" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <script>

        jQuery(function ($) {
            $('#ZCODGRUPO').mask('00000');
        });

    </script>

    <script>
        $(function () {
            // your code goes here
            $("#bteditargrupo_de_usuario").click(function () {
                codigo = $("#ZCODGRUPO").val()
                if (codigo == "") {
                    alert("É necessário preencher Código.");
                    return false;
                }
                else {
                    $("#formeditargrupo_de_usuario").submit();
                }

            });
        });
    </script>

    @Html.HiddenFor(model => model.MANDT)
    @Html.HiddenFor(model => model.ZCODGRUPO)

    <div class="form-group">
        @Html.LabelFor(model => model.ZNOMGRUPO, "Nome", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ZNOMGRUPO, new { @class = "form-control", placeholder = "Nome", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.ZNOMGRUPO)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descricao, "Descrição", new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", placeholder = "Descrição", MaxLength = "50" })
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
    </div>
}