@model FemsaEP.Models.enquete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>enquete</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_limite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cluster.mandante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cluster.mandante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
