@model FemsaEP.Models.marca_SAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>marca_SAP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MANDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZNOMMARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZNOMMARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZDESACTIV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZDESACTIV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.familia.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familia.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZCODMARCA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
